body {
  padding-right: 10px;
  border: 1px solid;
  margin: 20px 10%;
  font-family: "Playpen Sans Arabic", cursive;
  font-size: 22px;
}
a {
  text-decoration: none;
}
img
{
    border: solid gray 1px; margin-bottom: 0; display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
.before-content
{
    background-color: #f2f0f0; margin-top: 0; border-bottom: #1D8387 solid;
}
table
{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
td,th
{
  border: 1px solid #dddddd;
  padding: 8px;
}
th
{
  background-color: #f2f2f2;
}
.ul-li {
  padding: 5px 0;
}
.ul-li strong {
  background-color: rgba(255, 255, 0, 0.3);
}
li::marker
{
    color: #1D8387;
}
.content-2 {
  background-color: rgba(0, 255, 0, 0.2);
  
}
.subhead {
  background-color: #f2f0f0;
  border-bottom: #1c8487 solid;
}
.table
{
    font-size: 30px;
}
